section, .inner {
	position: relative;
}

.brandbluebg {
	background-color: $brandblue;
}
.brandgreybg {
	background-color: $brandgrey;
}
.brandlightgreybg {
	background-color: $brandlightgrey;
}
.branddarkgreybg {
	background-color: $branddarkgrey;
}
.brandgreengradient {
	background: radial-gradient(circle at bottom right, #04f9ad, #00b980 60%);
}

.section_has_bg_img {
	background-size: cover;
	background-repeat: no-repeat;
}

// OVERLAYS
.blue-overlay::before, .green-overlay::before {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.blue-overlay::before {
	background-color: $brandblue;
}
.green-overlay::before {
	background-color: $brandgreen;
}

// PAGE BACKGROUND STYLES
.page-bg-img {
	position: absolute;
	height: 100%;
	width: 100%;
	max-height: 800px;
	top: 0;
	left: 0;
	//-webkit-transform: translate(-50%, 0);
	//transform: translate(-50%, 0);
	background-repeat: no-repeat;
	background-size: cover;
}

html {
	height: 100%;
}

body {
	//background: radial-gradient(ellipse at bottom right, lightblue 30%, transparent);
    //background-repeat: no-repeat;
    height: 100%;
}

// TEXTURES
section {
	position: relative;
}
.cut-texture::before {
	position: absolute;
	content: "";
    background-repeat: no-repeat;
    height: 100%;
	width: 100%;
	background-size: 20%!important;
}
.texture-bottom-left::before {
	background-image: url(../img/backgrounds/cut-texture-bottom-left.svg);
	background-position: bottom left;
	bottom: 0;
	left: 0;
}
.texture-bottom-right::before {
	background-image: url(../img/backgrounds/cut-texture-bottom-right.svg);
	background-position: bottom right;
	bottom: 0;
	right: 0;
}
.texture-top-left::before {
	background-image: url(../img/backgrounds/cut-texture-top-left.svg);
	background-position: bottom left;
	top: 0;
	left: 0;
}
.texture-top-right::before {
	background-image: url(../img/backgrounds/cut-texture-top-right.svg);
	background-position: bottom right;
	top: 0;
	right: 0;
}