.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
}
.row.no-gutters > .col {
	padding-left: 0;
	padding-right: 0;
}
.col-inner {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 2em;
}

.featured-img img {
	height: 100%;
	object-fit: cover;
}
.view-article {
	display: inline-block;
	position: relative;
	padding-right: 25px;
    margin-left: 3px;
}
.view-article::after {
	position: absolute;
	content: "";
	background-image: url(../img/icons/arrow-right.svg);
	top: 7px;
	//left: calc(100% + 8px);
	width: 25px;
	height: 12.5px;
	background-repeat: no-repeat;
	background-position: left -15px center;
	transition: 0.25s ease-in-out;
	background-size: cover;
	right: -5px;
}
.view-article:hover::after {
	background-position: left -8px center;
	transition: 0.25s ease-in-out;
}
.post p {
	font-size: 18px;
}
.post h2 {
	margin-bottom: 10px;
}
.featured-img-container {
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
}
.featured-img-container img {
	position: absolute;
	top: 50%;
	transform: translate(-50%,0);
	left: 0;
	object-fit: cover;
	height: 100%;
	width: 100%;
}
@media (min-width: 64em) {
	.article-excerpt {
		margin-top: 5px;
	}
}