// BRAND COLOURS
$brandblue: #003e7e;
$brandblack: #0c3026;
$brandgrey: #a5a5a5;
$branddarkgrey: #444;
$brandlightgreen: #d7dccd;
$brandlightgrey: #f5f5f5;
$brandgreen: #00B980;


// FLEXBOX STYLES
@import "_flexboxgrid.min.scss";

// BUTTON STYLES
@import "_buttons.scss";

// SPACING STYLES
@import "_spacing.scss";

// BACKGROUND STYLES
@import "_backgrounds.scss";

// MODAL STYLES
@import "_modal.scss";

// STOCK QUOTE STYLES
@import "_stock-quote.scss";

// TYPOGRAPHY STYLES
@import "_typography.scss";

// HOME PAGE STYLES
@import "_home.scss";

// SINGLE POST STYLES
@import "_single.scss";

// IMAGES STYLES
@import "_images.scss";

// BLOG STYLES
@import "_blog.scss";

// CHARTS STYLES
@import "_charts.scss";

// SEARCH FORM STYLES
@import "_search.scss";

// CARD STYLES
@import "_cards.scss";

// HEADER STYLES
@import "_header.scss";

// CUSTOM FLEX STYLES
@import "_flex.scss";

// NAVIGATION STYLES
@import "_nav.scss";

// FOOTER STYLES
@import "_footer.scss";

// CTA STYLES
@import "_cta.scss";

// MEDIA QUERIES
@import "_media-queries.scss";