.grid-container {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
/* .grid-container article:not(.first) .row .col */
.grid-container article .row .col {
	flex: 0 0 100%;
	max-width: 100%;
}
.post-card {
	-webkit-box-shadow: 0 10px 30px #e9e9e9;
	box-shadow: 0 10px 30px #e9e9e9;
}
.post-card .row {
	padding: 0 2em 1em;
}
.grid-container > article:first-child {
	flex-direction: column;
}

@media (min-width: 800px) {
	/*
	.grid-container > article:first-child {
		grid-column: span 3;
	}
	*/
}