.grid-container {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
/* .grid-container article:not(.first) .row .col */
.grid-container article .row .col {
	flex: 0 0 auto;
	max-width: 100%;
}
.post-card {
	-webkit-box-shadow: 0 10px 30px #e9e9e9;
	box-shadow: 0 10px 30px #e9e9e9;
	display: flex;
	flex-direction: column;
}
.post-card .row {
	padding: 0 2em 2em;
	height: 100%;
	flex-direction: column;
}
.grid-container > article:first-child {
	flex-direction: column;
}
.post-card .row p:last-child {
	margin-top: auto;
}
.post-card .row .col:last-child {
	display: flex;
    flex-direction: column;
	flex: 1;
}
.post .post-excerpt {
	font-size: 16px;
}
.post-card .button, .post-card .view-article {
	font-size: 16px;
}
.post-card .view-article::after {
	width: 22px;
    height: 11px;

}

@media (min-width: 800px) {
	/*
	.grid-container > article:first-child {
		grid-column: span 3;
	}
	*/
}