.col_inner {
	display: flex;
    flex-direction: column;
    height: 100%;
}

.boxed-link:hover .reportArrow__icon {
	transition: .4s ease-in-out;
	transform: translate(10px, 0);
}
.reportArrow__icon {
	transition: .4s ease-in-out;
}
.no-shadow {
	box-shadow: none;
}

.display-flex {
	display: flex;
	flex-wrap: wrap;
}
.display-flex > li {
	margin-right: 1em;
}