.copyright {
	font-size: 13px;
	padding: 1em 0;
}
.footer-col h3 {
	font-weight: 600;
}
footer .col:first-of-type .footer-col:last-of-type h3 {
	margin-top: 2em;
}
footer .menu {
	list-style: none;
	padding: 0;
	column-count: 2;
}
footer .menu li:nth-of-type(2) {
	break-after: column;
    break-inside: avoid;
}
footer .menu li {
	margin-bottom: .5em;
}
.footer-form {
	display: flex;
	margin-right: -.5em;
	margin-left: -.5em;
	flex-wrap: wrap;
}

section .wpcf7-submit, section input[type=email], section select, section input[type=text], section textarea {
	border: 1px solid $brandgrey;
	background-color: transparent;
	padding: 10px 15px;
	color: #000;
	font-family: inherit;
}

.footer-form .wpcf7-submit {
	border: 1px solid #fff;
	background-color: transparent;
	padding: 10px 15px;
	color: #fff;
	font-family: inherit;
}
.footer-form input[type=text], .footer-form input[type=email], .footer-form select {
	width: 100%;
	padding: 10px;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
}
.footer-form select {
	margin-top: 1em;
}
.footer-form p {
	padding-left: .5em;
	padding-right: .5em;
}
.footer-form p:nth-of-type(1), .footer-form p:nth-of-type(2) {
	flex: 0 0 50%;
}
.footer-form p:nth-of-type(3), .footer-form p:nth-of-type(4) {
	flex: 0 0 100%;
}