@media (min-width: 100em) {
	.home-page {
		background-position: center calc(50% + 300px);
	}
	/*
	.home-page::before {
		background-position: top 100px center;
	}
	*/
	.cut-texture::before {
		background-size: 15%!important;
	}
	.vertical-fade {
		position: absolute;
	    width: 200px;
	    height: 100%;
	    top: 200px;
	}
	.page-bg-img .vertical-fade {
		top: 0;
	}
	.vertical-fade.left {
		background: linear-gradient(90deg, white, transparent);
		left: 0;
	}
	.vertical-fade.right {
		background: linear-gradient(-90deg, white, transparent);
		right: 0;
	}
}

@media (max-width: 80em) {
	.splash h1 {
		font-size: 2.25em;
	}
}

@media (max-width: 64em) {
	.top-margin-mobile-2 {
		margin-top: 2em;
	}
	header {
		padding-top: 1em;
		padding-bottom: 1em;
	}
	.footer .col:last-of-type {
		margin-top: 2em;
	}
	.footer .col:last-of-type > div > div > div {
		justify-content: flex-start!important;
		max-width: 130px;
	}
	.top-margin-mobile-4 {
		margin-top: 4em;
	}
	.home-page {
		background-size: cover;
		background-position: bottom -20vh center;
	}
	.home-page::before {
		background-size: cover;
	}
	.gradient-inner.page-bg-img {
	    top: 165px;
	    background-size: cover;
		background-position: center;
	}
	.shrink header {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.sidebar {
		padding-top: 2em;
	    border-top: 1px solid #d7dccd;
	}
}

@media (min-width: 64em) {
	.sidebar {
		margin-top: 5px;
	}
	.grid .col-lg-3:nth-child(4n+1):nth-last-child(-n+4),
	.grid .col-md-3:nth-child(4n+1):nth-last-child(-n+4),
  	.grid .col-lg-3:nth-child(4n+1):nth-last-child(-n+4) ~ .col,
  	.grid .col-md-3:nth-child(4n+1):nth-last-child(-n+4) ~ .col {
		padding-bottom: 0;
	}
	.grid .col-lg-4:nth-child(3n+1):nth-last-child(-n+3),
	.grid .col-md-4:nth-child(3n+1):nth-last-child(-n+3),
  	.grid .col-lg-4:nth-child(3n+1):nth-last-child(-n+3) ~ .col,
  	.grid .col-md-4:nth-child(3n+1):nth-last-child(-n+3) ~ .col {
		padding-bottom: 0;
	}
	.sidebar {
		padding-left: 2em;
	    border-left: 1px solid #d7dccd;
	}
	.copyright {
		text-align: right;
	}
	/*
	.nav {
		//margin-top: 28px;
		display: block;
	}
	*/
	.splash {
		min-height: 100vh;
	}
	.splash .col-inner {
		max-width: 850px;
	    margin-right: auto;
	    margin-left: auto;
		padding-top: 87px;
	}
}

@media (max-width: 64em) and (orientation: portrait) {
	.home-page {
		background-position: bottom -30vh right -300px;
	}
}

@media (min-device-width: 64em) and (max-device-width: 85em) and (orientation: landscape) {
	.home-page::before {
		top: 250px;
	}
}

@media (min-device-width: 48em) and (max-device-width: 64em) and (orientation: portrait) {
	.home-page::before {
		top: 300px;
	}
}

@media (max-device-width: 55em) and (orientation: landscape) {
	.home-page {
		//background-position: bottom -50vh right;
	    //height: calc(100vh - 85px);
	    //background-size: cover;
	}
	.cookie-close-container {
		padding: 0;
		flex: auto;
		max-width: 100%;
	}
	header > .inner, .inner {
		padding-left: 2em;
		padding-right: 2em;
	}
	.splash .video-container {
		padding-bottom: 56.25%;
	}
	.splash {
		height: auto;
	}
	.cut-texture::before {
		background-size: 50%!important;
	}
	header > .inner {
		padding-left: 2em;
		padding-right: 2em;
	}
	.footer-col h3 {
		margin-top: 2em;
	}
	footer .col:first-of-type .footer-col:first-of-type h3, footer .col:nth-of-type(2) .footer-col h3 {
		margin-top: 0;
	}
	#main-content {
		padding-top: 91px;
	}
	.footer .col:last-of-type {
		margin-top: 2em;
	}
	.footer .col:last-of-type > div > div > div {
		justify-content: flex-start!important;
		max-width: 130px;
	}
	.logo {
		max-width: 300px;
	}
	.splash .col-inner {
		padding: 4em 2em;
	}
	.splash h1 {
		font-size: 2.25em;
	}
	.splash .col:first-of-type {
		margin-top: 80px;
	}
	.bottom-left, .bottom-right {
		margin-top: 2em;
	}
	.social-buttons-header {
		flex: 0 0 calc(50% - 20px);
		max-width: calc(50% - 20px);
		margin-right: 20px;
	}
}

@media (min-width: 48em) {
	.grid .col:nth-child(2n+1):nth-last-child(-n+2),
  	.grid .col:nth-child(2n+1):nth-last-child(-n+2) ~ .col {
		padding-bottom: 0;
	}
}

@media (max-width: 48em) {
	.margin-bottom-mobile-md {
		margin-bottom: 3em;
	}
	.splash .video-container {
		padding-bottom: 56.25%;
	}
	.splash {
		height: auto;
	}
	.margin-bottom-mobile-md:last-of-type {
		margin-bottom: 0;
	}
	.splash .col:first-of-type {
		margin-top: 80px;
	}
	.bottom-margin-mobile-2 {
		margin-bottom: 2em;
	}
}

@media (max-width: 30em) {
	.home-page {
		background-position: center;
	    height: 100%;
		background-size: 100%;
	}
	.cookies-content .col:first-of-type {
		padding-right: 0;
	}
	.cookies-content .col:first-of-type > .inner {
		padding: 2em;
	}
	.cookies button {
		width: 100%;
    	padding: 2em;
		position: relative;
	}
	.cookie-close-container {
		padding: 0;
		flex: auto;
		max-width: 100%;
	}
	.bottom-left, .bottom-right {
		margin-top: 2em;
	}
	.cut-texture::before {
		background-size: 50%!important;
	}
	.col:last-of-type {
		padding-bottom: 0;
	}
	.splash .video-container {
		padding-bottom: 56.25%;
	}
	.bottom-margin-mobile-2:last-of-type {
		margin-bottom: 0;
	}
	.mobile-logo {
		display: block;
		max-width: 120px;
	}
	.footer-col h3 {
		margin-top: 2em;
	}
	footer .col:first-of-type .footer-col:first-of-type h3 {
		margin-top: 0;
	}
	.logo {
		display: none;
	}
	header .socialMedia {
		display: none;
	}
	.splash .col-inner {
		padding-top: 78px;
	}
	.splash h1 {
		font-size: 2.25em;
	}
	.col {
		flex: 0 0 100%;
		max-width: 100%;
	}
	header .col {
		flex: 0 0 50%;
		max-width: 50%;
	}
	#main-content {
		padding-top: 91px;
	}
	#splash h1 {
		font-size: 25px;
	}
	.nav {
		margin-top: 28px;
	}
	.splash .col-inner {
		padding: 4em 2em;
	}
	header > .inner, .inner {
		padding-left: 2em;
		padding-right: 2em;
	}
	.logo {
		max-width: 250px;
	}
}

@media (max-width: 20em) {
	#splash h1 {
		font-size: 22px;
	}
	.logo {
		max-width: 200px;
	}
	
}